body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: #f4f4f4; 
}

.responsive-img {
  max-width: 100%; /* Ensures it scales within its container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes extra space below the image */
  margin: auto; 
}
.advisors {
  margin-top: 20px;
}

header { 
  background: #333; 
  color: white; 
  padding: 1rem; 
  text-align: center; 
}

.container { 
  padding: 20px; 
  max-width: 900px; 
  margin: auto; 
  background: white; 
}

.bold {
  font-weight: bold;
  font-size: large;
}

p {
  word-spacing: 0.1rem;
}

h1 {
  color: #2e74b5;
}

h3 {
  color: #2e74b5;
  font-style: italic;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table_head, .table_data {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.table_head {
  background-color: #f2f2f2;
}
.table_data {
  vertical-align: top;
}

footer { 
  text-align: center; 
  padding: 1rem; 
  background: #333; 
  color: white; 
  margin-top: 20px; 
}
